@use '../../../scss/mixins';

.animation {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   min-height: 50vh;
   background-color: var(--color-bars);
   gap: 2rem;

   .text {
      @include mixins.font(
         var(--fw-7),
         var(--fs-24),
         var(--fh-28),
         var(--color-grey)
      );

      text-align: center;
      text-transform: uppercase;
   }

   .image {
      width: 12rem;
      height: auto;
   }
}